<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../css/tablas.css">
  </head>
  
  <div class="row center-align">
    <div class="divnombretabla col s5">
      <h3>Cancelación Extraordinaria de Materias</h3>
    </div>
    <div class="divdescripciontabla left-align col s7">
      <blockquote class="linea">
        <h3>Descripción:
        </h3>
        <h6 class="center-align">Proceso de cancelación , pasada las fechas de cancelación sin costos ni requisitos.
        </h6>
      </blockquote class="linea">
    </div>
  </div>
  
  <div class="containertable">
    <table class="responsive-table striped centered">
      <thead>
        <tr>
          <th>Nro</th>
          <th>Procedimiento</th>
          <th>Requisitos</th>
          <th>Descripción</th>
          <th>Links de Búsqueda/Ayuda</th>
          <th>Guía Multimedia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Inicio Sesión</td>
          <td>Usuario y Contraseña.</td>
          <td>El usuario y la contraseña han sido asignados por la universidad; en caso de no tenerlos, se debe enviar un
            correo: mesa.ayuda@ucaldas.edu.co</td>
          <td><a target="_blank" href="https://campus.ucaldas.edu.co/psp/cs92prod/EMPLOYEE/SA/?cmd=logout">Login</a></td>
          <td><a target="_blank"
              href="https://www.youtube.com/watch?v=qOqUIJ3xoGA&list=PL-th-jwfYFFeTrE3q839hzurInhB4yblz&index=1&ab_channel=U.deCaldas">Ingreso
              Nuevo SIA UCaldas - YouTube</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Generar Pago de Recibo</td>
            <td>N/A</td>
            <td>Tendrá que generar el trámite para cancelar materia y pagar el recibo respectivo obteniendo el número de permiso.</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Click En Gestión de Clases</td>
            <td>Haber Iniciado Sesión</td>
            <td>Despliega una lista de opciones en la barra lateral izquierda</td>
            <td><a target="_blank"
                href="https://campus.ucaldas.edu.co/psc/cs92prod/EMPLOYEE/SA/c/NUI_FRAMEWORK.PT_LANDINGPAGE.GBL?">Pagina
                Inicial</a></td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Click en Cancelación de Materia</td>
            <td>Haber generado la solicitud de trámite para cancelar.</td>
            <td>En una tabla se mostrarán las materias que se están cursando actualmente.</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Seleccionar asignatura</td>
            <td>Haber generado trámite para dicha materia.</td>
            <td>Ingresar el número de clase que se solicitó al cancelar en el momento que se realizó la petición.</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Click en Baja de Clases Seleccionadas</td>
            <td>Haber seleccionado la materia o las por las que se generó un trámite.</td>
            <td>Se darán de baja las materias que estén seleccionadas.</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Click en Finalizar Baja</td>
            <td>Haber realizado los  anteriores pasos.</td>
            <td>Se cancelará la materia por la que se generó el trámite</td>
            <td><a target="_blank" href="https://drive.google.com/uc?id=1U9s3SZF_vT07Iv7QsitvdZ9KOhPL01qa&export=download">Guia Cancelación en Fecha Extraordinaria</a></td>
            <td>N/A</td>
        </tr>
    </tbody>
</table>
</div>
<br>