<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="../css/tablas.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="main-header row navbar">
    <div class="divimglogo col m1">
      <a href="http://localhost:5500/#"><img class="imglogo" src="../assets/Logo_de_la_Universidad_de_Caldas.svg.png" alt=""></a>
    </div>
    <div class="divtitulo col m5">
      <p class="titulo">TU ASISTENTE <br> SIA UCALDAS</p>
    </div>
    <div class="containerbusqueda col m6">
      <div class="row divbusqueda">
        <div class="input-field col s10">
          <i class="material-icons prefix">search</i>
          <input onkeyup="cargarOpciones()" id="busqueda-input" type="search">
          <label class="labelbusqueda" for="busqueda">Busqueda</label>
        </div>
      </div>
      <br>
      <br>
    </div>

  </div>
<div class="row">
  <div class="col m6"></div>
  <div class="containeriopciones col m6">
    <div class="row divopciones">
      <div class="col m10 contenedorOpciones">
        <ul id="opciones">
          <li id="cargas">
      
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class ="main-body">
    <div class="row center-align">
        <div class="divnombretabla col s5">
            <h3>Materias en Curso</h3>
        </div>
        <div class="divdescripciontabla left-align col s7">
            <blockquote>
                <h3>Descripción:
                </h3>
                <h6 class="pp center-align">
                    Materias que el estudiante tiene inscritas y está cursando en el semestre en vigencia.
                </h6>
            </blockquote>
        </div>
    </div>

    <div class="containertable">
        <table class="responsive-table striped centered">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Procedimiento</th>
                    <th>Requisitos</th>
                    <th>Descripción</th>
                    <th>Links de Búsqueda/Ayuda</th>
                    <th>Guía Multimedia</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>Inicio de Sesión. <b>(a)</b></td>
                    <td>Usuario y Contraseña.</td>
                    <td>El usuario y la contraseña han sido asignados por la universidad;
                        en caso de no tenerlos, se debe enviar un correo:<b> mesa.ayuda@ucaldas.edu.co</b>
                    </td>
                    <td>
                        <a target="_blank" href="https://campus.ucaldas.edu.co/psp/cs92prod/EMPLOYEE/SA/?cmd=logout">Login</a>
                    </td>
                    <td>
                        <a target="_blank"
                            href="https://www.youtube.com/watch?v=qOqUIJ3xoGA&list=PL-th-jwfYFFeTrE3q839hzurInhB4yblz&index=1&ab_channel=U.deCaldas">
                            Ingreso Nuevo SIA UCaldas</a>
                    </td>
                </tr>
                <tr>
                    <td> 2 </td>
                    <td> Click En Gestión de Clases <b>(b)</b> </td>
                    <td> Haber Iniciado Sesión. </td>
                    <td> Despliega una lista de opciones en la barra lateral izquierda </td>
                    <td>
                        <a target="_blank" href="https://campus.ucaldas.edu.co/psc/cs92prod/EMPLOYEE/SA/c/NUI_FRAMEWORK.PT_LANDINGPAGE.GBL?">
                            Página Inicial
                        </a>
                    </td>
                    <td>
                        N/A
                    </td>
                </tr>

                <tr>
                    <td> 3 </td>
                    <td> Click en Lista de Clases. <b>(c)</b> </td>
                    <td> Tener clases inscritas en el semestre para visualizarlas.</td>
                    <td>La lista de clases en curso se despliega en una tabla con información relacionada 
                        con la materia como los créditos, el instructor asignado, 
                        fecha de inicio y finalización de semestre y horario de clases
                    </td>
                    <td>
                        <a target="_blank"
                            href="https://campus.ucaldas.edu.co/psc/cs92prod_63/EMPLOYEE/SA/c/NUI_FRAMEWORK.PT_AGSTARTPAGE_NUI.GBL?CONTEXTIDPARAMS=TEMPLATE_ID%3aPTPPNAVCOL&scname=ADMN_GESTIN_DE_CLASES&PanelCollapsible=Y&PTPPB_GROUPLET_ID=GESTION_ALUMN_CLASE&CRefName=ADMN_NAVCOLL_6">
                            Mi Horario de Clases
                        </a>
                    </td>
                    <td> N/A</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
</div>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contactenos</h5>
          <p class="grey-text text-lighten-4">juan.1701822418@ucaldas.edu.co <br> yenny.1701825505@ucaldas.edu.co <br>
            cristian.1701814279@ucaldas.edu.co</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Redes Sociales</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/udecaldas">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/udecaldas">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/udecaldas/?hl=es">Instagram</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://uvirtual.ucaldas.edu.co/">Pagina Oficial</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2021 Copyright Text
      </div>
    </div>
  </footer>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../js/index.js"></script>
<script type="text/javascript" src="../js/CargarOpciones.js"></script>
<script type="text/javascript" src="../js/Opciones.js"></script>

</body>

</html>