<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../css/tablas.css">
</head>

<div class="row center-align">
    <div class="divnombretabla col s5">
        <h3>Recibo de Pago de Matrícula</h3>
    </div>
    <div class="divdescripciontabla left-align col s7">
        <blockquote class="linea">
            <h3>Descripción:
            </h3>
            <h6 class="center-align">Recibo generado por la universidad cada semestre, para constar la vinculación al mismo, además de pagos por servicios universitarios, seguro, entre otros.
            </h6>
        </blockquote class="linea">
    </div>
</div>

<div class="containertable">
    <table class="responsive-table striped centered">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Procedimiento</th>
                <th>Requisitos</th>
                <th>Descripción</th>
                <th>Links de Búsqueda/Ayuda</th>
                <th>Guía Multimedia</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Inicio Sesión</td>
                <td>Usuario y Contraseña.</td>
                <td>El usuario y la contraseña han sido asignados por la universidad; en caso de no tenerlos, se debe
                    enviar un
                    correo: mesa.ayuda@ucaldas.edu.co</td>
                <td><a target="_blank"
                        href="https://campus.ucaldas.edu.co/psp/cs92prod/EMPLOYEE/SA/?cmd=logout">Login</a></td>
                <td><a target="_blank"
                        href="https://www.youtube.com/watch?v=qOqUIJ3xoGA&list=PL-th-jwfYFFeTrE3q839hzurInhB4yblz&index=1&ab_channel=U.deCaldas">Ingreso
                        Nuevo SIA UCaldas - YouTube</a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Click en Cuenta Financiera</td>
                <td>Haber Iniciado Sesión.</td>
                <td>Despliega una lista de opciones en la barra lateral izquierda.</td>
                <td><a target="_blank" href="https://campus.ucaldas.edu.co/psc/cs92prod_31/EMPLOYEE/SA/c/SSF_STUDENT_FL.SSF_FIN_ACCT_MD_FL.GBL?Action=U&MD=Y&GMenu=SSF_STUDENT_FL&GComp=SSF_FIN_ACCT_SP_FL&GPage=SCC_START_PAGE_FL&scname=CS_FINANCIAL_ACCOUNT">Cuenta Financiera</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Seleccione Impresion de Cliente</td>
                <td>N/A</td>
                <td>Se cargará una tabla con los pagos pendientes.</td>
                <td><a target="_blank" href="https://campus.ucaldas.edu.co/psc/cs92prod_31/EMPLOYEE/SA/c/SSF_STUDENT_FL.SSF_FIN_ACCT_MD_FL.GBL?Action=U&MD=Y&GMenu=SSF_STUDENT_FL&GComp=SSF_FIN_ACCT_SP_FL&GPage=SCC_START_PAGE_FL&scname=CS_FINANCIAL_ACCOUNT">Cuenta Financiera</a></td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Seleccione el Recibo a Pagar</td>
                <td>N/A</td>
                <td>Al seleccionar el recibo a pagar, podrá imprimir o descargar el archivo, con el cual podrá pagar sus saldos.</td>
                <td><a target="_blank" href="https://campus.ucaldas.edu.co/psc/cs92prod_31/EMPLOYEE/SA/c/SSF_STUDENT_FL.SSF_FIN_ACCT_MD_FL.GBL?Action=U&MD=Y&GMenu=SSF_STUDENT_FL&GComp=SSF_FIN_ACCT_SP_FL&GPage=SCC_START_PAGE_FL&scname=CS_FINANCIAL_ACCOUNT">Cuenta Financiera</a></td>
                <td><a target="_blank" href="https://www.youtube.com/watch?v=YVvcJ2-rrxU&list=PL-th-jwfYFFeTrE3q839hzurInhB4yblz&index=18&ab_channel=U.deCaldas">Generar Recibo de Pago</a></td>
            </tr>
        </tbody>
    </table>
</div>
<br>