.navbar{
    background-color: rgb(0, 59, 111);
    height: 270px;    
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.divimglogo{
    margin-top: 10px;
}

.divcarousel{
    margin-top: 30px;
}

.carousel {
    height: 200px;
}

.carousel-item {
    display: flex;
    align-items: start;
    justify-content: center;
}

.ayuda{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.busqueda{
    width: 450px;
    margin: auto;
    padding-bottom: 50px;
}

.input-field .prefix.active {
    color: #000;
}

.carousel-item img {
    border-radius: 5px;
    width: auto !important;
    height: 200px !important;
}

.titulo{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.imglogo{
    padding: 20px;
    width: 240px;
    height: 240px;
}
.page-footer{
    box-shadow: 0px -1px 4px rgba(0,0,0,1);
    background-color: rgb(0, 59, 111);
}


