blockquote {
    border-left: rgb(0, 59, 111)  3px solid;
}

table {
    background-color:#aab0fc;
}

.containertable{
    margin: auto;
    width: 90%;
}

.navbar{
    background-color: rgb(0, 59, 111);
    height: 150px;    
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.divimglogo{
    margin-top: 4px;
}

.titulo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.containerbusqueda{
    margin-top: 42px;
}

.divbusqueda{
    padding-left: 200px;
}
.input-field
{
    border: 3px solid black;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    
}
.input-field .prefix.active {
    color: rgb(0, 0, 0);
}

.input-field .labelbusqueda{
    display: none;
}
  
.imglogo{
    padding: 20px;
    width: 140px;
    height: 140px;
}

.page-footer{
    box-shadow: 0px -1px 4px rgba(0,0,0,1);
    background-color: rgb(0, 59, 111);
}