blockquote {
    border-left: rgb(0, 59, 111)  3px solid;
}

table {
    background-color:rgb(212, 215, 219);
    font-family: "Helvetica Neue",sans-serif;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.24);
}

table a{
    color:rgb(18, 69, 180);
}

.containertable{
    margin: auto;
    width: 90%;
}

.navbar{
    background-color: rgb(0, 59, 111);
    height: 150px;    
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}

.main-header{
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 1;
}
#opciones a{
    color: black;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

#opciones a:hover{
    background-color: rgb(216, 216, 216);
}
#opciones{
    position: fixed;
    z-index: 1;
    -webkit-box-shadow: 6px 10px 4px -4px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 10px 4px -4px rgba(0,0,0,0.24);
    box-shadow: 6px 10px 4px -4px rgba(0,0,0,0.24);
    display: block;
    width: 25%;
    height: auto;
    background-color: rgb(240, 240, 240);
    
}

.divimglogo{
    margin-top: 4px;
}

.divnombretabla{
    font-family: "Helvetica Neue",sans-serif;
    margin-top: -20px;
}
.divdescripciontabla{
    font-family: "Helvetica Neue",sans-serif;
    margin-top: -20px;
}
.pp{
    font-family: "Helvetica Neue",sans-serif;
}

.titulo{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.containerbusqueda{
    margin-top: 42px;
}
.containeriopciones{
    margin-top: 84px;
}

.divbusqueda{
    padding-left: 200px;
}
.divopciones{
    padding-left: 240px;
}
.input-field
{
    border: 3px solid black;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    
}
.input-field .prefix.active {
    color: rgb(0, 0, 0);
}

.input-field .labelbusqueda{
    display: none;
}
  
.imglogo{
    padding: 20px;
    width: 140px;
    height: 140px;
}

.page-footer{
    box-shadow: 0px -1px 4px rgba(0,0,0,1);
    background-color: rgb(0, 59, 111);
}

.main-body{
    padding-top: 80px;
}